<!DOCTYPE html>
<html>

<head>
    <title>Travel App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form>
        <label> City Name <section class="required">*</section> </label>
        <select name="countries" id="zip" required>
        </select>
        <label>Traveling Date <section class="required">*</section></label>
        <input type="date" id="date" required>
        <input type="submit" value="Submit" id="generate">
    </form>
    <br>
    <h1 id="results__text">
        Results
    </h1>
    <br>
    <div class="trips__wrapper">
        <img id="image">
        <h3>Temperature: <span id="temp"></span></h3>
    </div>
</body>

</html>